.header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.header_navbar {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 20px;
}

.header_navbar li a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.header_navbar li a:hover {
  border-bottom: 2px solid black;
  transition: all 1s;
}
