.card_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card_description_btn {
  align-self: start;
  margin-top: 10px;
}

.card {
  width: 264px;
}

.image {
  height: 150px;
}

@media (max-width: 768px) {
  .card {
    width: 400px;
  }
  .image {
    height: auto;
  }
}

@media (max-width: 576px) {
  .card {
    width: 300px;
  }
}
